<section>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d471.52552710958275!2d81.82548101737041!3d27.18071620139587!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3999934f9fde795b%3A0x27e045deefe4b25!2sTILKA%20katra%20bazar!5e1!3m2!1sen!2sin!4v1692643227959!5m2!1sen!2sin" 
    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>